h1,h3 {
font-family: serif;
}
p {font-family: sans-serif;
}

header{
background-color:white;
margin-bottom:20px;
text-align: center; 

align-content:center;
}
.photo {width:20%;
height: 20%;

}
.contacts {
display:inline-block;
}
.content{
align-items:baseline;
display:flex;

}
.card{
background-color:#C0C0C0;
margin-bottom:10px;

border: 2px solid rgba(47, 79, 79, .4);
display:inline-block;
margin-right:10px;
margin-left:10px;
text-align: center;
}
.no-right-margin{margin-right:0
}
